body {
  background-color: rgb(226, 226, 226);
}

h1 {
  margin: 0;
}

p {
  margin: .5em 0;
}

.container {
  width: 95%;
  display: flex;
}

.left {
  width: 40%;
  min-width: 300px;
}

.right {
  width: 60%;
  min-width: 400px;

}

.panel {
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 3px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: .5em 0;
}

.btn:hover {
  cursor: pointer;
}

.status-msg {
  height: 1em;
}

li {
  margin-bottom: .5em;
}

li span {
  margin: 0 .5em;
}

li:hover {
  cursor: pointer;
  color: gray;
}

.modal-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 43, 43, 0.479);
  overflow: hidden;
}

.modal-content {
  background-color: white;
  width: 80%;
  max-width: 500px;
  height: 70%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.modal-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
}

.m-n {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
  color: rgb(99, 99, 99);
}

.m-n:hover {
  cursor: pointer;
  color:rgba(43, 43, 43);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.m-h-left img {
  width: 150px;
}

.m-h-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.i-title {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.i-num {
  text-transform: uppercase;
  margin-bottom: .5em
}

.i-h2 {
  font-weight: bold;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 300px;
}

.i-msg {
  text-align: center;
}

.i-h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.i-details table {
  width: 100%;
  padding: 5px 4px;
}

.i-details table th {
  padding-bottom: 4px;
}

.i-details table td {
  border-bottom: 1px dotted gray;
  border-left: 0px;
  border-right: 0px;
}

.m-r-p {
  text-align: right;
}

.i-total {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.i-t-t {
  font-size: 1.1rem;
  font-weight: bold;
}

.modal-footer {
  text-align: center;
}

@page {
  size: auto;
  margin: 0mm;
}

@media print {
  .modal-nav {
    display: none;
  }
}